pkgbase = linux-cachyos-surface
	pkgdesc = Linux EEVDF + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements.
	pkgver = 7.2.9
	pkgrel = 1
	url = https://github.com/jmacpolin/linux-cachyos-surface
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = git
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/CachyOS/linux/releases/download/cachyos-7.2.9-2/cachyos-7.2.9-2.tar.gz
	source = config
	source = linux-surface::git+https://github.com/Apiznel/linux-surface.git#commit=6bcf30a1f5387768f2a5068c7b4330a4f9eb3841
	source = override-0003-mwifiex.patch
	source = override-0010-surface-typecover.patch
	source = override-0015-hid-surface.patch
	source = local-0100-int3472-sp9-uninitialized-ret.patch
	source = local-0101-ov13858-sp9-rear-rotation-flip.patch
	source = local-0102-ov5693-ipu6-mipi-ctrl00.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/7.2/misc/dkms-clang.patch
	b2sums = SKIP
	b2sums = 21343697f5f1647aadbdec8a4aa477b10622e5ae04fa07fcf6f9bab67dece7180872676bdc49a90de5d273c2c13127c5812a7ca67dbd9edce3e26e8c38d358d1
	b2sums = SKIP
	b2sums = 2cf9f5fd72cc071a4b9b5d57774c69f3c8328d3c89118356923b3fb4fe7016f50897bf989e9cf79242caa3b37c97d7b3978cbf5c00f50d43603610b4b4259e44
	b2sums = 0be4d5e6295ce29129a14c6ef39c8bdab57910d14f3446de79cb89ec6d3931bbae86bd8e091a62b9d103cb0f18f93486bd06bbbaa52d3d7f9a9868bcb8db173b
	b2sums = bf28cc20e295fd05aeca75026c3e3b78154b408c4dc147eb26c120eab3fff6c73b6416ff2ade8ebdecfa4269ed5541c486c86358183ee6c295086d371efc8d2e
	b2sums = 3376d199de0b01cba5178ef617d9778f70cd29dcc14b4dce111a392df73093a26f4fc97002dc2b624aab7b8a44b197b88610266bc201f5ea9aa8a2fd65f36e94
	b2sums = 7a8802619f755556e9ae71ec59e3ad11ae52f7051de27c8b6b450f28bee41818fd4c92f39ff0df6d218c750a061cafab13b5b94cd99fdc1a61c658849584ad15
	b2sums = 3d9eafd911e24ca61ebf4f4585d24bf3f1e0065f8c10d73fc3e45c4c84b2866a76add5b2f53fb2cf461918912dc2ca4abf084d345e16f5100f462e85c8d8bc10
	b2sums = SKIP

pkgname = linux-cachyos-surface
	pkgdesc = The Linux EEVDF + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements. kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE
	provides = linux-cachyos-lto=7.2.9-1
	replaces = linux-cachyos-lto

pkgname = linux-cachyos-surface-headers
	pkgdesc = Headers and scripts for building modules for the Linux EEVDF + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements. kernel
	depends = pahole
	depends = linux-cachyos-surface
	depends = clang
	depends = llvm
	depends = lld
	provides = linux-cachyos-lto-headers=7.2.9-1
	replaces = linux-cachyos-lto-headers
