pkgbase = linux-cachyos-surface
	pkgdesc = Linux EEVDF + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements.
	pkgver = 7.1.3
	pkgrel = 1
	url = https://github.com/jmacpolin/linux-cachyos-surface
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = git
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/CachyOS/linux/releases/download/cachyos-7.1.3-1/cachyos-7.1.3-1.tar.gz
	source = config
	source = linux-surface::git+https://github.com/Apiznel/linux-surface.git#commit=df5430f474d2923c4ff5da745aadbfd0fe4801d7
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/7.1/misc/dkms-clang.patch
	b2sums = SKIP
	b2sums = 7a0d1d7b504f342b0380352ab9bd98ee12530c7491783181dbafcaf2e7999d6224fed517b5ecc1be9a19a10f94e15fda38fafa41012d0cb3fd651e8f4ee8f6fc
	b2sums = SKIP
	b2sums = SKIP

pkgname = linux-cachyos-surface
	pkgdesc = The Linux EEVDF + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements. kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE
	provides = linux-cachyos-lto=7.1.3-1
	replaces = linux-cachyos-lto

pkgname = linux-cachyos-surface-headers
	pkgdesc = Headers and scripts for building modules for the Linux EEVDF + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements. kernel
	depends = pahole
	depends = linux-cachyos-surface
	depends = clang
	depends = llvm
	depends = lld
	provides = linux-cachyos-lto-headers=7.1.3-1
	replaces = linux-cachyos-lto-headers
